/* Start global styling */

/* Variables of the page */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgba(15, 116, 143, 70%);
    --section-padding: 100px;
}


/* The wildcard style that affects all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* The smooth behavior of the scroll bars */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Removing the styling of the ul elements */
ul {
    list-style-type: none;
}

/* Styling the media queries thet makes the site resposive */

/* For small screens and tablets */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* For medium screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* For large screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global styling */


/* Styling the main components of the page */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before,
.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h2::before {
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
}

/* End Styling the main components of the page */


/* Styling the Header section */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Header container */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    left: 15px;
}

/* Styling the logo part of the page */
header .container .logo img {
    height: 40px;
}


/* Styling the navigation part of the web page */
header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nav .toggle-menu {
    color: white;
    font-size: 20px;
}

@media (min-width: 768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}

header .container nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header .container nav ul {
        display: none;
    }

    header .container nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 50%);
    }

    header .container nav .toggle-menu:hover+ul li a {
        padding: 15px;
    }

}

header .container nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: .3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}


header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

/* Styling the search part of the page */
header nav .search {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header nav .search i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* End styling the Header section */

/* Styling the landing part of the page */
.landing {
    min-height: 100vh;
    background-color: #555;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    position: relative;
}

.landing .overley {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 40%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 31px;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 1.8;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

@media (max-width:767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .change-background:first-of-type {
    left: 30px;
}

.landing .change-background:last-of-type {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 5px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End styling the landing part of the page */

/* Styling the services section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 40px;
        row-gap: 60px;
    }
}

.services .service {
    display: flex;
}

.services .service i {
    margin-right: 50px;
}

.services .service h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .service p {
    line-height: 1.8;
    color: #777;
}

@media (max-width: 767px) {
    .services .service {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
        border-bottom: 1px solid #bbb;
    }

    .services .service i {
        margin: 5px auto;
    }

    .services .service p {
        width: 85%;
        margin: auto;
        text-align: justify;
    }
}

/* End styling the services section */

/* Styling the Design section */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url("../images/design-features.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 35%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -9.5rem;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.design .text ul li {
    padding: 12px 0;
}

.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f26c';
    font-weight: 900;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

/* End styling the Design section */


/* Styling the Portfolio section */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    overflow: hidden;
}

.portfolio .images-container .box {
    position: relative;
}

@media (min-width: 768px) {
    .portfolio .images-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .images-container .box {
        flex-basis: 25%;
    }
}


.portfolio .images-container .box figure img {
    max-width: 100%;
}

.portfolio .images-container .box figure figcaption {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    transition: .3s;
    bottom: -100%;
}


.portfolio .images-container .box figure:hover figcaption {
    bottom: 0;
}

.portfolio .images-container .box figure:hover figcaption h4 {
    padding-bottom: 10px;
}


.portfolio .images-container .box figure:hover figcaption p {
    color: var(--main-color);
}

.portfolio .more {
    display: block;
    color: white;
    background-color: var(--main-color);
    padding: 15px 20px;
    width: fit-content;
    margin: 25px auto;
    text-decoration: none;
    text-transform: uppercase;
}

/* End styling the Portfolio section */

/* styling video section */

.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 35%);
}

.video video {
    width: 100%;
}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 20px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}

/* End styling video section */

/* styling about section */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }

}

/* End styling about section */

/* Styling stats section */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url('../images/stats.jpg');
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 45%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
    transition: .3s;
}

@media (max-width:767px) {
    .stats .container .box {
        flex-basis: 100%;
    }

    .stats .container .box:not(:last-of-type) {
        border-bottom: 1px solid #999;
    }
}

@media (min-width:768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box:hover {
    background-color: rgba(15, 116, 143, 35%);
    color: wheat;
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #222;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 25px;
}

.stats .container .box .number {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 14px;
}

/* End styling stats section */

/* Styling skills section */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .our-skills .container>section {
        flex-basis: 45%;
    }
}

.our-skills .container>section>h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container>section>p {
    color: #777;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 60px;
}

/* Styling testmonials*/
.our-skills .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .testimonials .content img {
    width: 110px;
    border-radius: 50%;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .our-skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testimonials .content img {
        margin: 0 auto 20px;
    }
}

.our-skills .testimonials .content .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.our-skills .testimonials .content .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* Styling skills section */
.our-skills .skills .progress-holder {
    margin-bottom: 40px;
}

.our-skills .skills .progress-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .skills .progress-holder .progress {
    background-color: #dedadc;
    height: 25px;
}

.our-skills .skills .progress-holder .progress span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}

.our-skills .skills .progress-holder .progress span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.our-skills .skills .progress-holder .progress span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    right: -7px;
    top: -15px;
}

/* End styling skills section */

/* Styling the pricing section */

.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    text-align: center;
}

@media (max-width: 767px) {
    .pricing .plans .plan {
        background-color: #f0f0f0;
    }
}

.pricing .plans .plan .head {
    padding: 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
    padding: 30px 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.pricing .plans .plan .head span {
    font-size: 50px;
    font-weight: 500;
}

.pricing .plans .plan .head span::before {
    content: "$";
    font-weight: normal;
    font-size: 25px;
    position: relative;
    top: -40px;
    left: -15px;
}

.pricing .plans .plan .head span::after {
    content: "/Mon";
    font-size: 25px;
    position: relative;
    right: -15px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}


.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 120px;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    background-color: var(--main-color);
}

.pricing .plans .plan .foot a {
    display: block;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 20px;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    transition: .3s;
}

.pricing .plans .plan .foot a:hover {
    color: white;
    background-color: var(--main-color);
}

.pricing .contact-text {
    text-align: center;
    font-size: 22px;
    margin: 50px auto 20px;
}

.pricing .contact-link {
    display: block;
    padding: 15px 30px;
    margin: auto;
    width: fit-content;
    font-size: 19px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    transition: .3s;
}

.pricing .contact-link:hover {
    background-color: white;
    color: var(--main-color);
}

/* End styling the pricing section */

/* Styling The subscribe section */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../images/subscribe.jpg');
    background-size: cover;
    position: relative;
    color: white;
}

.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}


@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe form {
    position: relative;
    display: flex;
    width: 500px;
    max-width: 100%;
}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe form input[type='email'] {
    border: 1px solid white;
    border-right: none;
    background: none;
    color: white;
    caret-color: var(--main-color);
    padding: 20px 20px 20px 60px;
    width: calc(100% - 130px);
}

.subscribe form input[type='submit'] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    outline: none;
    text-transform: uppercase;
}

.subscribe form input[type='email']:focus,
.subscribe form input[type='submit']:focus {
    outline: none;
}

.subscribe form input::placeholder {
    color: white;
    text-transform: uppercase;
}

.subscribe p {
    line-height: 1.8;
    margin-left: 50px;
}

@media (max-width:991px) {
    .subscribe p {
        margin: 30px 0 0;
    }
}

/* End styling The subscribe section */

/* styling the contact section */

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}

.contact .content .info {
    flex-basis: 25%;
}

.contact .content .info .phone h4,
.contact .content .info .addr h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}

.contact .content .info .phone .tel {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .content .info .addr h4 {
    margin-top: 100px;
}

@media (max-width: 767px) {
    .contact .content .info {
        margin-bottom: 30px;
        order: -1;
        display: flex;
        justify-content: space-around;
    }

    .contact .content .info .phone{
        padding-right: 10px;
        border-right: 1px solid var(--main-color);
    }

    .contact .content .info .phone,
    .contact .content .info .addr {
        padding: 5px;
    }

    .contact .content .info .addr h4 {
        margin-top: 0px;
    }
}

.contact .content .info .addr address {
    color: #777;
}

/* End styling the contact section */